[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = PT
ST = Lisbon
L = Campo Grande
O = Archivechain
OU = IT
emailAddress = bruno.cotrim1@gmail.com
CN = archivechain.pt

[v3_req]
subjectAltName = @alt_names
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = archivechain.pt
DNS.2 = localhost
IP.1 = 10.255.255.254
IP.2 = 192.168.1.72